
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
body {
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  font-family: "Dosis", sans-serif;
  color: #121213;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.banner {
  position: relative;
  margin-top: 2%;
  height: 85vh;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #c1c3cc;
  background-position: left;
  background-size: cover;
  align-items: center;
  background-color: #c1c3cc;
  background-image: linear-gradient(
      76deg,
      rgba(193, 195, 204, 0.83) 35%,
      rgba(193, 195, 204, 0.28) 65%
    ),
    url("https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg");
  background-position: 0px 0px, 50% 0%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  flex-wrap: wrap;
}
.logo {
  padding: 45px;
  padding-right: 35px;
  padding-left: 35px;
  background-color: #e47312;
  position: absolute;
  top: 0;
  bottom: 0;
}
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0%;
  padding-left: 0%;
  max-height: 90px;
}
.topbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 900;
  flex-wrap: wrap;
}
.topbtn {
  height: 100%;
  margin-left: 20px;
  padding: 42px 18px 35px;
  background-color: #e47312;
  transition: all 300ms ease;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}
.topbtn:hover {
  background-color: #e98a38;
}
.down-icon {
  color: #929297;
}
.dropdown {
  list-style: none;
  background-color: #fff;
  padding: 2px 5px 2px;
  position: absolute;
  align-items: center;
  min-width: 50px;
  height: 200px;
  margin: 3% auto;
}
.dropdown li a {
  font-size: 12px;
  font-weight: 600;
  color: #717177;
}
.dropdown li {
  padding: 10px;
  overflow: hidden;
}
.dropdown li a:hover {
  background-color: #f1f1f7;
  color: #e47312;
}
nav ul li a {
  text-decoration: none;
  color: #414147;
  font-size: 13px;
  font-weight: bolder;
  letter-spacing: 1px;
  position: relative;
  text-align: center;
}
nav ul li a:hover {
  color: #e47312;
}
nav ul li a:active {
  color: rgb(209, 121, 6);
}
nav ul li a {
  text-decoration: none;
  padding: 31px 14px;
}
nav ul li ul {
  display: none;
}
nav ul li:hover > ul {
  display: block;
}
.main-title {
  position: absolute;
  top: 200px;
  flex-wrap: wrap;
}
#top-title {
  color: #fff;
  font-size: 62px;
  line-height: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
}
#top-para {
  font-size: 20px;
  line-height: 26px;
  color: hsla(0, 0%, 100%, 0.7);
}
#title-btn {
  width: 160px;
  padding: 18px 8px;
  background-color: #e47312;
  transition: all 300ms ease;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
}
#title-btn:hover {
  background-color: #e98a38;
}
.socal-media {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 0px;
  background-color: #0a1229;
  padding: 11px;
  position: absolute;
  right: 0;
  top: 165px;
}
.socal-icon {
  width: 40px;
  height: 50px;
  color: #fff;
  text-align: center;
}
.bottom-line {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
}
.overflow-hidden {
  overflow: hidden;
}
.contact {
  position: absolute;
  top: 400px;
  right: 0;
  width: 950px;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #e47312;
  background-image: linear-gradient(186deg, #e47312, #ff6361);
  text-align: center;
}
.contact-socal {
  padding: 15px 100px 5px 50px;
  margin-top: 30px;
}
.wrapper-info {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  align-items: center;
}
.conact-info {
  font-size: 13px;
  line-height: 20px;
  color: #f1f1f7;
  font-family: "Dosis", sans-serif;
}
.para-info {
  font-size: 14px;
  line-height: 20px;
  color: hsla(0, 0%, 100%, 0.7);
  font-family: "Dosis", sans-serif;
}
.map-link {
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 15px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.map-link:hover {
  transition: all 0.3s linear;
}
.map-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.1s linear;
}
.map-link:hover::before {
  width: 100%;
  background-color: rgb(255, 255, 255);
}
#second-section {
  position: relative;
  top: 150px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.background-title {
  position: absolute;
  z-index: 1;
  color: rgba(241, 241, 247, 0.4);
  font-size: 120px;
  letter-spacing: 11px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.top-title {
  position: relative;
  left: 40px;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.servic-link {
  display: inline-block;
  position: absolute;
  right: 100px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  font-weight: 600;
  text-decoration: none;
  color: #919198;
  font-size: 13px;
  letter-spacing: 1px;
}
.servic-link:hover {
  transition: all 0.3s linear;
}
.servic-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  transition: all 0.1s linear;
}
.servic-link:hover::before {
  width: 100%;
  background-color: #e47312;
}
.img-item {
  width: 20%;
}
.main-contener {
  margin-top: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.img-item3 {
  height: 60px;
}
.head-title {
  margin-top: 0px;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 1px;
  font-family: "Dosis", sans-serif;
}
.contener-para {
  margin-bottom: 10px;
  color: #919197;
  font-size: 16px;
  line-height: 25px;
  font-family: "Dosis", sans-serif;
}
.servic-link2 {
  position: relative;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  font-weight: 600;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  color: #919198;
  letter-spacing: 1px;
}
.servic-link2:hover {
  transition: all 0.3s linear;
}
.servic-link2::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 2px;
  transition: all 0.1s linear;
}
.servic-link2:hover::before {
  width: 100%;
  background-color: #e47312;
}
.service-contener{
  margin: 20px;
}
.main-contener-2{
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.fun-facts-img{
  width: 40%;
}
.about{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  color: rgba(241, 241, 247, 0.4);
  font-size: 120px;
  letter-spacing: 11px;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.who-we-are{
  position: relative;
  z-index: 1;
  left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.about-para{
  margin-bottom: 10px;
  color: #919197;
  font-size: 17px;
  line-height: 25px;
  font-family: "Dosis", sans-serif;
  margin-left: 40px;
  margin: 25px;
}
.about-link{
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  font-weight: 600;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  color: #919198;
  letter-spacing: 1px;
  margin-left: 40px;
  position: relative;
}
.about-link:hover{
  transition: all 0.3s linear;
}
.about-link::before {
  content: '';
  position: absolute;
  top: 100%;
  width: 0;
  height: 2px;
  transition: all 0.1s linear;
}
.about-link:hover::before {
  width: 100%;
  background-color: #e47312;
}
.experience{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.number{
  color: #e47312;
  font-size: 60px;
  Line-height: 70px;
  font-weight: 500
}
.expr-para{
  color: #919197;
  font-size: 17px;
  Line-height: 25px;
  font-family: "Dosis", sans-serif;
}
.main-section{
  height: 470vh;
  Background-color: #f7f8fc;
}
.main-contener-3{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  position: relative;
}
.our-work-title{
  position: relative;
  z-index: 1;
  top: 50px;
  left: 50px;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.projects-title{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  color: rgba(241, 241, 247, 0.4);
  font-size: 120px;
  letter-spacing: 11px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
.float-link{
 margin: 100px;
 margin-bottom: 0;
}
.project-img-section{
  width: 1280px;
  margin: 80px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.project-img-section .box{
  position: relative;
  width: 32%;
  box-sizing: border-box;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 20px; 
}
.project-img-section .box .img-box{
  position: relative;
  overflow: hidden;
}
.project-img-section .box .img-box img{
  max-width: 100%;
  transition: transform 2s;
}
.project-img-section .box:hover .img-box img{
  transform: scale(1.1);
}
.project-img-section .box .details{
  position: absolute;
  top: 40%;
  left: 40%;
  bottom: 0%;
  right: 0%;
  transform: scaleY(0);
  transition: transform .0s;
}
.project-img-section .box:hover .details{
  transform: scaleY(1);
}
.project-img-section .box .details .view-project{
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  background-image: linear-gradient(59deg , #ff6361, #e47312);
  display: flex;
  width: 90px;
  height: 90px;
  padding-right: 11px;
  padding-left: 11px;
  border-radius: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
}
.contener-something{
  margin-top: 15px;
  height: 30vh;
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: #e47312;
  background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url("https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}
.something-title{
  color: #fff;
  font-size: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
}
.shibu{
  display: block;
  text-align: center;
}
.something-para{
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  font-family: "Dosis", sans-serif;
}
.professionals{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  position: relative;
}
.prof-title{
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  z-index: 1;
  color: rgba(241, 241, 247, 0.4);
  font-size: 120px;
  letter-spacing: 11px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
.prof-heading{
  position: relative;
  z-index: 1;
  top: 50px;
  left: 50px;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.prof-link{
  margin: 80px;
  margin-bottom: 0;
}
 .wrapper-row{
   margin-top: 150px;
 }
.w-col{
  position: relative;
  float: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.team-wrapper{
  position: relative;
  width: 95%;
  padding-left: 45px;
  padding-right: 0;
} 
.team-photo{
  min-height: 350px;
  background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-1.jpg);
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}
.w-col-3{
  width: 22%;
}
.team-content{
  padding: 9px 66px 29px 29px;
  background-color: #fff;
}
.team-photo1{
  background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-2.jpg);
}
.team-photo2{
  background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-3.jpg);
}
.team-photo3{
  background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-4.jpg);
}
.social-teams{
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  flex-direction: column;
  background-color: #e47312;
  display: flex;
  padding: 10px;
}
.social-icon {
  display: flex;
  padding: 15px;
  float: left;
  
}
.underline-icon{
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
}
.team-content h1{
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.team-content p{
    font-family: "Dosis", sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px
}
.contener-client{
  margin-top: 700px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  position: relative;
}
.client-title{
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  z-index: 1;
  color: rgba(241, 241, 247, 0.4);
  font-size: 120px;
  letter-spacing: 11px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
.client-heading{
  position: relative;
  z-index: 1;
  top: 50px;
  left: 50px;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.client-para-about p{
  display: block;
  margin-top: 100px;
  padding-left: 40px;
  font-family: Dosis, sans-serif;
  color: #919197;
  font-size: 17px;
  line-height: 25px;
}
.Testimonial-title{
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  Line-height: 20px;
  font-weight: 500
}
.Testimonial-paragraph{
  margin-top: 15px;
  margin-bottom: 0px;
  color: #919197;
  font-family: "Dosis", sans-serif;
}
.testimonials-wrapper{
  position: relative;
  display: block;
  margin: 50px auto 61px;
  padding: 80px 30px 26px;
  background-color: #fff;
  text-align: center;
}
.testimonials-job-title{ 
 font-family: "Dosis", sans-serif;
 color: #919197;
 font-size: 17px;
 line-height: 25px;
}
.first-testi-conter{
  width: 40%;
  position: relative;
  float: left;
  margin: 20px;
}
.testimonials-photo {
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  margin: -115px auto 25px;
  align-items: stretch;
  border-radius: 100%;
  background-image: linear-gradient(8deg, #ff6361, #e47312);
  opacity: 1;
  color: #fff;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
}
.text-block-2 {
 padding-top: 13px;
 padding-left: 17px;
}
.testimonials-colm{
  padding-left: 0;
  padding-right: 0;
  width: 60%;
}
.top-colm{
  padding-top: 70px;
}
/* .contener-blog-new{

} */
.blog{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  position: relative;
}
.prof-title{
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  z-index: 1;
  color: rgba(241, 241, 247, 0.4);
  font-size: 120px;
  letter-spacing: 11px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
.prof-heading{
  position: relative;
  z-index: 1;
  top: 50px;
  left: 50px;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.prof-link{
  margin: 80px;
  margin-bottom: 0;
}
img{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.blog-image{
  position: relative;
  background-color: #5c5c5c;
}
.img-contener{
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 40px;  
}
.blog-content{
  max-width: 100%;
  padding: 25px 56px 25px 30px;
  background-color: #e47312;
  background-image: linear-gradient(158deg, #e47312, #ff6361);
}
.blog-content-title{
  margin-right: 0px;
  margin-bottom: 15px;
  font-size: 19px;
  line-height: 26px;
  color: #fff;
  position: relative;
  z-index: 2;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.blog-content-para{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 17px;
    line-height: 25px;
    font-family: "Dosis", sans-serif;
}
.text-dectroation-none{
  text-decoration: none;
}
.img-colm{
  padding-left: 10px;
  padding-right: 10px;
}
.meta-tag{
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}
.meta-number{
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  background-image: linear-gradient(45deg, #ff6361, #e47312);
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  justify-content: center;
}
.meta-month {
  display: flex;
  width: 70px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #9d9da5;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.blog-link{
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  font-weight: 600;
  text-transform: uppercase;
}
.section-logo{
  Background-image: linear-gradient(56deg, #e47312, #ff6361);
  padding-top: 3%;
  padding-bottom: 3%;
  padding: 5% 5%;
}
.logo-fixed{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-title{
  flex: 0 0 auto;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  position: relative;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 1px;
}
.tap-logo{
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  letter-spacing: 3px;
}
.last-section{
  width: 90%;
  height: 75vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
  padding: 50px;
  padding-left: 50px;
  border-radius: 1px solid #2f3038;
  background-color: #0a1229;
}
.fotter-line-1{
  position: relative;
  z-index: 0;
  margin-top: 0px;
  padding: 0px;
}
.fotter-flex{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-left: 10px;
  padding-right: 40px;
}
.fotter-title{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  flex: 0 0 auto;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}
.fotter-para{
  font-size: 17px;
  line-height: 25px;
  color: #fff;
  font-family: "Dosis", sans-serif;
}
.fotter-para-contact{
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 17px;
  line-height: 15px;
  font-family: "Dosis", sans-serif;
}
.fotter-link{
  padding-top: 15px;
}
.title-line{
  position: absolute;
  left: 35%;
  top: 25px;
  margin-top: 0px;
  right: auto;
  bottom: auto;
  width: 50%;
  height: 1px;
  background-color: #ff6361;
}
.in-footer {
  margin-bottom: 30px;
  padding-right: 14px;
  background-color: #0a1229;
}
.title-line1{
  margin-left: 30px;
  width: 70%;
}
.title-line2{
  margin-left: 40px;
  width: 120%;
}
.logo-end{
  margin-top: 55px;
}
.logo-img-eng{
  padding: 45px;
  padding-right: 35px;
  padding-left: 35px;
  background-color: #e47312;
}